<ul>
    <li><a href="/CPA">CPA Students</a></li>
    <li><a href="/allstudents">All Students</a></li>
   
    
    <li><a href="/addStudent">Add a New Student</a></li>
     <li><a href="/highGPA">Highest GPA</a></li>
    <li><a href="/">Home</a></li>
</ul>
<hr/>
{{{body}}}
<hr/>
<h2>Decalartion</h2>
<p>I acknowlege the College's academic intergirty policy - and my own integrity - remain in effect
whether my work is done remotely or onsite. Any test or assignment is an act of trust between me and my instructor, and especially with my classmates
...even when no one is watching. I declare I will not break that trust.</p>
<p>Name: LO TSZ KIT</p>
<p>Student Number: 160067211</p>