{{#if siglestudent}}
<style>div{margin-bottom:20pt;}</style>
<h1>Student Info</h1>
<div>Student id: {{siglestudent.studId}}</div>
<div>Student name: {{siglestudent.name}}</div>
<div>Program: {{siglestudent.program}}</div>
<div>GPA: {{siglestudent.gpa}}</div>
{{/if}}